@use 'sass:map';
@use './common/vars';
@use './function/function' as f;
@use './mixins/mixins' as m;
@use './mixins/var';
@use './common/config';

@mixin input {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: f.get_css_var('input-height');
  background-color: f.get_css_var('bg-color');
  line-height: f.get_css_var('input-line-height');
  border-radius: f.get_css_var('bd-radius');

  @include m.transition(background-color color);
}

@mixin input_shadow {
  @include m.border_shadow();

  @include m.transition(box-shadow, $time: 0.5s);

  &:hover {
    @include m.border_shadow($color: f.get_css_var('bd-hover-color'));
  }

  &:focus-within {
    @include m.border_shadow($color: f.get_css_var('bd-focus-color'));
    @include m.b('input', 'tool', 'clear') {
      visibility: visible;
    }
    @include m.b('input', 'tool', 'password') {
      visibility: visible;
    }
  }
}

@include m.b('input') {
  // 写入变量
  & {
    @include var.set_css_var(map.get(vars.$var-list, input));
  }

  &--small {
    @include var.set_css_var(
      (
        input-height: f.get_css_var('small-input-height'),
        input-line-height: f.get_css_var('small-input-height'),
        input-padding: f.get_css_var('small-input-padding'),
      )
    );
  }
  &--middle {
    @include var.set_css_var(
      (
        input-height: f.get_css_var('middle-input-height'),
        input-line-height: f.get_css_var('middle-input-height'),
        input-padding: f.get_css_var('middle-input-padding'),
      )
    );
  }
  &--large {
    @include var.set_css_var(
      (
        input-height: f.get_css_var('large-input-height'),
        input-line-height: f.get_css_var('large-input-height'),
        input-padding: f.get_css_var('large-input-padding'),
      )
    );
  }

  display: flex;
  align-items: center;

  @include input;

  @include m.b($prefix: &, $element: 'wrapper') {
    display: flex;
    align-items: center;
    height: inherit;
    flex: 1;
    border-radius: inherit;
    color: f.get_css_var('text-color');

    @include input_shadow;

    &.is-disabled {
      background-color: f.get_css_var('disabled-bg-color');
      color: f.get_css_var('disabled-text-color');

      @include m.transition(background-color color box-shadow);
      @include m.border_shadow();
    }
    &.is-prepend {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.is-append {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover {
      @include m.b('input', 'tool', 'clear') {
        visibility: visible;
      }
      @include m.b('input', 'tool', 'password') {
        visibility: visible;
      }
    }
  }

  @include m.b($prefix: &, $element: 'inner') {
    flex: 1;
    width: 0;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: f.get_css_var('input-padding');
    color: inherit;
    border-radius: inherit;
    box-sizing: border-box;
    outline: 0;

    &[disabled] {
      cursor: not-allowed;
    }

    &::-webkit-input-placeholder {
      color: f.get_css_var('placeholder-text-color');
    }
  }

  @include m.b($prefix: &, $element: 'prepend') {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: f.get_css_var('prepend-bg-color');
    padding: f.get_css_var('input-padding');
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include m.transition(background-color box-shadow);

    @include m.border_shadow(
      $orientation: (
        0: 1px 0 0 0px,
        1: 0 -1px 0 0px,
        2: 0 1px 0 0px,
      )
    );

    &--sub {
      padding: f.get_css_var('input-padding');
      user-select: none;
      &:hover {
        color: f.get_css_var('text-hover-color');
      }
      @include m.transition(color);
    }
  }

  @include m.b($prefix: &, $element: 'append') {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: f.get_css_var('append-bg-color');
    padding: f.get_css_var('input-padding');
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include m.transition(background-color box-shadow);

    @include m.border_shadow(
      $orientation: (
        0: -1px 0 0 0px,
        1: 0 -1px 0 0px,
        2: 0 1px 0 0px,
      )
    );

    &--add {
      padding: f.get_css_var('input-padding');
      user-select: none;
      &:hover {
        color: f.get_css_var('text-hover-color');
      }
      @include m.transition(color);
    }
  }

  @include m.b($prefix: &, $element: 'prefix') {
    padding-left: 8px;
    color: f.get_css_var('info-color');
  }

  @include m.b($prefix: &, $element: 'suffix') {
    padding-right: 8px;
    color: f.get_css_var('info-color');
  }
  @include m.b($prefix: &, $element: 'limit') {
    padding-right: 8px;
    color: f.get_css_var('info-color');
    font-size: 12px;
  }
  @include m.b($prefix: &, $element: 'tool') {
    display: flex;
    padding-right: 8px;
    &--clear,
    &--password {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 2px;
      visibility: hidden;
      color: f.get_css_var('tool-color');
      cursor: pointer;
      &:hover {
        color: f.get_css_var('tool-hover-color');
      }
    }
  }
}

@include m.b('textarea') {
  & {
    @include var.set_css_var(map.get(vars.$var-list, input));
  }

  @include input;

  &.is-disabled {
    background-color: f.get_css_var('disabled-bg-color');
    color: f.get_css_var('disabled-text-color');
  }

  display: flex;
  height: auto;

  @include m.b($prefix: &, $element: 'inner') {
    flex: 1;
    background-color: transparent;
    color: f.get_css_var('text-color');
    border: 0;
    padding: 5px 8px;
    border-radius: inherit;
    line-height: f.get_css_var('textarea-height');
    outline: 0;
    resize: vertical;

    &::-webkit-input-placeholder {
      color: f.get_css_var('placeholder-text-color');
    }

    @include input_shadow;

    &[disabled] {
      cursor: not-allowed;
      resize: none;
      @include m.border_shadow();
      color: f.get_css_var('disabled-text-color');
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(209, 209, 209, 0.5);
      border-radius: 5px;

      @include m.transition(all);
    }

    @at-root .dark & {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(97, 97, 97, 0.5);
      }
    }
  }

  @include m.b($prefix: &, $element: 'limit') {
    position: absolute;
    right: 7px;
    bottom: 0;
    color: f.get_css_var('info-color');
    font-size: 12px;
    pointer-events: none;
  }
}
