@use 'sass:color';

$input: (
  small-input-height: 24px,
  middle-input-height: 30px,
  large-input-height: 36px,
  small-input-padding: 0 5px,
  middle-input-padding: 0 8px,
  large-input-padding: 0 10px,
  input-height: 30px,
  input-line-height: 30px,
  input-padding: 0 8px,
  textarea-height: 22px,
  textarea-padding: 5px 8px,
);
