@use 'sass:map';
@use 'sass:color';
@use '../mixins/var';
@use '../function/function' as f;
@use '../mixins/mixins' as m;
@use '../vars/index' as vars;

$colors: () !default;
$colors: map.merge(
  (
    primary-color: #418adf,
    success-color: #b3ffae,
    warning-color: #fecd70,
    error-color: #eb7878,
    info-color: #ada7a7,
  ),
  $colors
);

$theme: () !default;
$theme: map.merge(
  (
    bg-color: #ffffff,
    bd-color: #dcdfe6,
    text-color: #606266,
    text-color2: rgb(207, 199, 199),
    bd-focus-color: map.get($colors, primary-color),
    bd-hover-color: #c0c4cc,
    disabled-bg-color: #f5f7fa,
    disabled-text-color: #e4e7ed,
    disabled-text-color2: #d7d9dd,
    placeholder-text-color: #a8abb2,
    fill-color: rgb(238, 238, 238),
    tool-color: color.scale(map.get($colors, info-color), $lightness: 10%),
    tool-hover-color: map.get($colors, info-color),
  ),
  $theme
);

$common: () !default;
$common: map.merge(
  (
    text-hover-color: color.scale(map.get($colors, primary-color), $lightness: 10%),
    small-height: 24px,
    middle-height: 30px,
    large-height: 36px,
    bd-radius: 4px,
  ),
  $common
);

$var-list: () !default;
$var-list: map.deep-merge(
  (
    input: vars.$input,
    timershaft: vars.$timershaft,
  ),
  $var-list
);

:root {
  @include var.set_css_var($theme);
  @include var.set_css_var($colors);
  @include var.set_css_var($common);
}
