@use 'sass:map';
@use '../mixins/var';
@use '../function/function' as f;
@use '../mixins/mixins' as m;
@use '../vars/index' as vars;

$colors: () !default;
$colors: map.merge(
  (
    primary-color: #418adf,
    success-color: #b3ffae,
    warning-color: #fecd70,
    error-color: #eb7878,
    info-color: #ada7a7,
  ),
  $colors
);

$theme: () !default;
$theme: map.merge(
  (
    bg-color: #ffffff,
    bd-color: #dcdfe6,
    text-color: #606266,
    bd-radius: 4px,
    bd-focus-color: map.get($colors, primary-color),
    bd-hover-color: #c0c4cc,
    disabled-bg-color: #f5f7fa,
    disabled-text-color: #e4e7ed,
    placeholder-text-color: #a8abb2,
    prepend-bg-color: rgb(238, 238, 238),
    append-bg-color: rgb(238, 238, 238),
  ),
  $theme
);

$var-list: () !default;
$var-list: map.deep-merge(
  (
    input: vars.$input,
  ),
  $var-list
);

:root {
  @include var.set_css_var($theme);
  @include var.set_css_var($colors);
}
